{% extends 'TopxiaWebBundle:Course:normal-layout.html.twig' %}

{% set thread = thread|default(null) %}

{% block title %}{% if thread %}{{'编辑话题'|trans}}{% else %}{{'发表话题'|trans}}{% endif %} - {{ parent() }}{% endblock %}

{% set script_controller = 'course/thread-form' %}

{% set tab = 'thread' %}

{% block course_main %}

<ul class="breadcrumb">
  <li><a href="{{ path('course_threads', {id:course.id}) }}">{{'讨论区'|trans}}</a></li>
  {% if thread %}
    <li><a href="{{ path('course_thread_show', {courseId:thread.courseId, threadId:thread.id}) }}" title="{{ thread.title }}">{{ thread.title|plain_text(10) }}</a></li>
    <li class="active">{% if type == 'question' %}{{'编辑问题'|trans}}{% else %}{{'编辑话题'|trans}}{% endif %}</li>
  {% else %}
    <li class="active">{% if type == 'question' %}{{'提问题'|trans}}{% else %}{{'发表话题'|trans}}{% endif %}</li>
  {% endif %}
</ul>


<form id="thread-form" data-type="{{ type }}" data-thread="{% if thread %}edit{% endif %}" class="form-vertical" method="post"
  {% if thread %}
    action="{{ path('course_thread_edit', {courseId:course.id, id:thread.id}) }}"
  {% else %}
    action="{{ path('course_thread_create', {id:course.id}) }}"
    {% endif %}
  >

  <div class="form-group">
    <div class="controls">
      {% set placeholder = type == 'question' ? '标题，用一句话说清你的问题'|trans : '标题'|trans %}
      {{ form_widget(form.title, {attr:{class:'form-control', placeholder:placeholder, 'data-display':'标题'|trans}}) }}
    </div>
  </div>

    {% if thread %}
        {% if thread.extType=='1' %}
        <div class="form-group">
            <div class="help-block">悬赏金额：{{ thread.virtualAmount }}{{ coinSetting.coin_name }}</div>
        </div>
        {% endif %}
    {% else %}
        <div class="form-group" style="display:none">
            <div class="controls">
                {% if thread %}
                    {% set extType = thread.extType=='1'?1:0 %}
                {% else %}
                    {% set extType = 1 %}
                {% endif %}
                <label><input type="radio" name="thread[extType]" value="1" {% if extType == 1 %}checked="checked"{% endif %}> 悬赏</label>
                <label><input type="radio" name="thread[extType]" value="0" {% if extType == 0 %}checked="checked"{% endif %}> 不悬赏</label>
                <div class="help-block">{{'选择悬赏将会扣除你个人账户部分余额，并得到本站教学专家单独的语音指点。'|trans}}</div>
            </div>
        </div>
        <div class="form-group" style="display:{% if extType==0 %}none{% endif %}">
            <div class="controls">
                {{ form_widget(form.virtualAmount, {attr:{class:'form-control', 'style':'width:40%', placeholder:"请填写悬赏金额，只能为整数", 'data-display':'悬赏金额'|trans}}) }}
                <div class="help-block" style="display:none;"></div>
            </div>
            <div class="help-block">(账户余额:{{ account.cash }}{{ coinSetting.coin_name }})
                <a href="javascript:;" node-type="chongchi" data-url="{{ path('course_thread_add_amount') }}">我要充值>></a>
            </div>
        </div>
        <div class="form-group" style="display:{% if extType==0 %}none{% endif %}">
            <div class="controls">
                {% if thread %}
                    {% set isPublic = thread.isPublic=='1'?1:0 %}
                {% else %}
                    {% set isPublic = 1 %}
                {% endif %}
                <label><input type="radio" name="thread[isPublic]" value="1" {% if isPublic == 1 %}checked="checked"{% endif %}> 公开</label>
                <label><input type="radio" name="thread[isPublic]" value="0" {% if isPublic == 0 %}checked="checked"{% endif %}> 不公开</label>
                <div class="help-block">选择公开，所有人都能看到你的提问，需要交费查看问题答案，交费由你与答疑专家分成。选择不公开，提问和答案只能你自己可见。</div>
            </div>
        </div>
        <div class="form-group" style="display:{% if extType!=1 and isPublic!=0 %}none{% endif %}">
            <div class="controls">
                {{ form_widget(form.replyAmount, {attr:{class:'form-control', 'style':'width:40%', placeholder:"请填写查看答案的金额，只能为整数", 'data-display':'查看答案的金额'|trans}}) }}
                <div class="help-block" style="display:none;"></div>
            </div>
            <div class="help-block">其他人查看问题答案的交费金额</div>
        </div>
    {% endif %}

  <div class="form-group">
    <div class="controls">
      {{
        form_widget(
          form.content, {
            attr:{
              class:'form-control',
              rows:15,
              'data-display':'内容'|trans,
              'data-image-upload-url': path(
                'editor_upload', {
                  token:upload_token('course')
                }
              ),
              'data-image-download-url': path(
                'editor_download', {
                  token:upload_token('course')
                }
              )
            }
          }
        )
      }}
    </div>
  </div>
  {{ render(controller('TopxiaWebBundle:Attachment:formFields', {targetType: 'course.thread', targetId: thread.id|default(0)}, {'showLabel':false})) }}
  <div class="form-group clearfix">
    <div class="controls pull-right">
      {{ form_rest(form) }}
      {% if thread %}
        <a href="{{ path('course_thread_show', {courseId:thread.courseId, threadId:thread.id}) }}" class="btn btn-link">{{'取消'|trans}}</a>
        <button type="submit" class="btn btn-primary btn-fat">{{'保存'|trans}}</button>
      {% else %}
        <a href="{{ path('course_threads', {id:course.id}) }}" class="btn btn-link">{{'取消'|trans}}</a>
        <button type="submit" class="btn btn-primary">{{'发表'|trans}}</button>
      {% endif  %}
    </div>
  </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>
<script>

</script>
{% endblock %}
